{% extends "users/base.html" %}

{% block title %}Profile{% endblock %}
{% block content %}
  <div class="container">
    <h1>Profile</h1>
    <p>Username: {{ user.username }}</p>
    <p>Joined: {{ user.date_joined }}</p>
    <p>Last Login: {{ user.last_login }}</p>

    <p>Email: {{ user.email }}</p>
    <p>Verified: {{ user.is_verified }}</p>
    {% if not user.is_verified %}
      <p><a href="{% url 'users:email_verify_resend' %}">Resend Verification Email</a></p>
    {% endif %}
    <p><a href="{% url 'users:email_change' %}">Change email</a></p>
    <p><a href="{% url 'users:password_change' %}">Change password</a></p>
    <p><a href="{% url 'users:delete' %}">Delete User Account</a></p>
  </div>
{% endblock %}