{% extends "accounts/base.html" %}

{% block title %}{{ account.name }}{% endblock %}

{% block content %}
  <h1>{{ account.name }}</h1>
  <ul>
    <li>Name: {{ account.name }}</li>
    <li>Type: {{ account.get_type_display }}</li>
    <li>Opened: {{ account.created_at }}</li>
    <li>Balance: {{ account.balance }}</li>
    <li>Available: {{ account.available }}</li>
  </ul>
  <h2>Recent Transactions</h2>
  <ul>
  {% for transaction in transactions %}
    <li><a href="{% url 'accounts:transaction_detail' uuid=transaction.uuid %}">{{ transaction.label }}</a> - {{ transaction.amount }}</li>
  {% endfor %}
  </ul>
{% endblock %}